<!-- taskmanager-web-app/taskmanager_app/templates/taskmanager_app/todoitem_confirm_delete.html -->
{% extends "base.html" %}

{% block head %}
  <title>TM - Delete {{ object.title }}</title>
{% endblock %}

{% block content %}
<h5>Delete item</h5>
<p>Are you sure you want to delete the item: <b>{{ object.title }}</b>?</p>
<form method="POST">
   {% csrf_token %}
   <input
      value="Yes!"
      type="submit">
   <input
   value="No!"
   type="button"
   onclick="location.href='{% url "index" %}';">
</form>
{% endblock %}